.ui-page .ui-header,.ui-page .ui-footer {
    background-color: rgb(146,178,140);
    text-shadow: none;
}
#back{
    background-color: #8bc34a9e;
    text-shadow: none;
    font-weight: bold;
    outline :0;
    border: none !important;
}
#cancel, #register{
    background-color:forestgreen;
}
.TypeSelect_common{
   display : inline-block;
   float : left;
}
.TypeSelect-2{
   display : none;
}
.TypeSelect-3{
   display : none;
}
.layer{
   display : none;
}
.differ{
   float : left;
}
.differ1{
   float : right;
   margin-left : 10px;
}
