.small_info {
    font-size: 0.8em;
}

.selected_spices {
    margin: 3px;
}

.span_selected {
    display: inline-block;
    white-space: pre;
    border-radius: 9px;
    background-color: #8bc34a9e;
    padding: 3px 5px 3px 5px;
    margin: 2px 2px 2px 2px;
    font-size: 0.8em;
    text-shadow: none;
    font-weight: bold;
}

.span_close {
    margin-left: 3px;
    padding:1px;
    font-size:1.2em;
    font-weight: bolder;
}

#animals input:checked {
    background-color: yellow;
}

#mypagecancel, #mypagesave {
    background-color: forestgreen;
}